<div class="notification d-flex justify-content-start align-items-center">
  <i class="gift"></i>
  <div>
    <p class="fw-bold">ahmad, here's what the price includes:</p>
    <ul class="d-flex justify-content-start">
      <li>
        <img
          class="mb-1 ms-3 me-1"
          src="https://cdn2.rcstatic.com/images/site_graphics/newsite/free-tick--salem.svg"
          alt=""
        />
        <a href="#">Amendments</a>
      </li>
      <li>
        <img
          class="mb-1 ms-3 me-1"
          src="https://cdn2.rcstatic.com/images/site_graphics/newsite/free-tick--salem.svg"
          alt=""
        />
        <a href="#">Theft Protection</a>
      </li>
      <li>
        <img
          class="mb-1 ms-3 me-1"
          src="https://cdn2.rcstatic.com/images/site_graphics/newsite/free-tick--salem.svg"
          alt=""
        />
        <a href="#">Collision Damage Waiver</a>
      </li>
    </ul>
  </div>
</div>
