<div class="driver-details">
  <div class="header d-flex justify-content-between align-items-center">
    <div class="title fw-bold">Driver Details</div>
    <div>
      <i class="pencil-edit-icon"></i>
      <a href="#">edit</a>
    </div>
  </div>
  <div class="driver">
    <ul class="d-flex justify-content-start align-items-center flex-wrap">
      <li class="d-flex justify-content-start">
        <div class="label pe-3">Name:</div>
        <div class="value pe-3">ahmad halawany</div>
      </li>
      <li class="d-flex justify-content-start align-items-center">
        <div class="label pe-3">Email:</div>
        <div class="value pe-3">a@a.com</div>
      </li>
      <li class="d-flex justify-content-start align-items-center">
        <div class="label pe-3">Phone number:</div>
        <div class="value">011004136765</div>
      </li>
    </ul>
  </div>
</div>
