<div class="methods row mt-5 mb-2">
  <p class="col-5 text-end">Payment Method</p>
  <div class="brands p-0 col-7">
    <img class="img-fluid me-2" src="./../../assets/visa logo.png" alt="visa" />
    <img src="./../../assets/master card logo.png" alt="master-card" />
    <p class="mb-1">We accept all major payment types</p>
  </div>
</div>
<form [formGroup]="paymentForm">
  <div class="row mb-3">
    <label class="form-label col-5 text-end mt-2" for=""
      >*&nbsp;Name on Card</label
    >
    <input
      class="form-control name-input col-7"
      type="text"
      formControlName="name"
    />
  </div>
  <div class="row mb-3">
    <label class="form-label col-5 text-end mt-2" for=""
      >*&nbsp;Card Number</label
    >
    <input
      class="form-control name-input col-7"
      type="number"
      formControlName="cardNumber"
    />
  </div>
  <div class="row mb-3">
    <label class="form-label col-5 text-end mt-2" for=""
      >*&nbsp;Expiry Date (mm/yy)</label
    >
    <div class="col-7 p-0 d-flex">
      <select class="form-select expiry-input me-3" formArrayName="expiryDate">
        <option value=""></option>
        <option value="01">01</option>
        <option value="02">02</option>
        <option value="03">03</option>
        <option value="04">04</option>
        <option value="05">05</option>
        <option value="06">06</option>
        <option value="07">07</option>
        <option value="08">08</option>
        <option value="09">09</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <select class="form-select expiry-input" formArrayName="expiryDate">
        <option value=""></option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        <option value="32">32</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label class="form-label col-5 text-end mt-2" for=""
      >*&nbsp;Security Number</label
    >
    <input
      class="form-control security-input col-7"
      type="number"
      formControlName="securityNumber"
    />
  </div>
</form>
