<div class="side-section">
  <div class="content">
    <div class="content-head d-flex align-items-center">
      <img
        src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/17_logo_lrg.gif"
        alt=""
      />
      <h6 class="ps-3 pt-2">
        Supplied by
        <br />
        <strong>Alamo</strong>
      </h6>
    </div>
    <!-- <div class="content-body">
      <ul class="tabs d-flex justify-content-around">
        <li class="map">
          <a href="#">
            <img
              src="https://cdn2.rcstatic.com/images/site_graphics/newsite/tone/map.svg"
              alt=""
            />
          </a>
        </li>
        <li class="time">
          <a href="#">
            <img
              src="https://cdn2.rcstatic.com/images/site_graphics/newsite/tone/clock.svg"
              alt=""
            />
          </a>
        </li>
      </ul>
      <div class="main-content">
        <div class="head">Location</div>
        <div class="supplier-location">
          <a href="#">
            /////////////////////map ////////////////////////////////////////////////////////
          </a>
          <p class="title">Pick Up & Drop Off</p>
          <p class="location">
            <strong>Cairo Airport</strong>
            <br />
            Cairo International Airport T3, Arrival Hall Terminal 3, Cairo,
            Egypt, 11844
          </p>
        </div>
      </div>
    </div> -->
    <app-tabs></app-tabs>
  </div>
</div>
