<div class="payment-details">
  <div class="title">
    <h4>Payment Details <span>... and the car is yours</span></h4>
  </div>
  <app-payment-form></app-payment-form>
  <div class="plans mt-5 d-flex justify-content-start align-items-center">
    <i class="bi bi-calendar-week-fill"></i>
    <div class="text">
      <p class="head">What if my plans change?</p>
      <p>
        You can amend or cancel your booking FOR FREE anytime before 10:00 am on
        September 5, 2022.
      </p>
    </div>
  </div>
</div>
