<div class="price-summary">
  <div class="price-header">
    <div class="title">Price breakdown</div>
  </div>
  <div class="price-content">
    <ul class="price">
      <li class="d-flex justify-content-between">
        <p>Car rental price</p>
        <span>EGP1749.71</span>
      </li>
      <li class="d-flex justify-content-between">
        <p>Full Protection</p>
        <span>EGP1227.48</span>
      </li>
      <li class="d-flex justify-content-between">
        <p>Credit Card Charge</p>
        <span>EGP0.00</span>
      </li>
    </ul>
    <div class="total d-flex justify-content-between align-items-center">
      <p>Payable today</p>
      <span>EGP2977.19</span>
    </div>
  </div>
</div>
<div class="message d-flex justify-content-start align-items-center">
  <i class="check"></i>
  <p>No Credit Card fees</p>
</div>
