<div class="booking">
  <div class="box">
    <div class="box-header">
      <div class="row">
        <div class="col-md-4">
          <div class="car">
            <div
              [ngClass]="{ 'car-specs-active': carDetailVisibility }"
              class="car-specs"
            >
              <p class="title">Compact Car With:</p>
              <ul
                class="seats d-flex align-items-center justify-content-around fw-bold pb-1"
              >
                <li>5 Seats</li>
                <li>4 Doors</li>
                <li>1 Large bag</li>
                <li>1 Small bag</li>
              </ul>
              <ul
                class="trans-air d-flex align-items-center justify-content-between pb-1"
              >
                <li>
                  <i class="bi bi-check-lg"></i>
                  <span>Air Conditioning</span>
                </li>
                <li>
                  <i class="bi bi-check-lg"></i>
                  <span>Automatic gearbox</span>
                </li>
              </ul>
              <p class="fuel">
                <i class="bi bi-fuel-pump-fill fs-5"></i>
                Like for Like
              </p>
            </div>
            <div
              class="car-type d-flex align-items-center justify-content-between"
            >
              <div>
                <strong>Nissan Sunny</strong>
                <span class="ms-2">or similar</span>
              </div>
              <div>
                <i class="pencil-edit-icon"></i>
                <a class="mt-1 ms-1" style="font-size: 12px" href="#">Change</a>
              </div>
            </div>
            <img
              class="image img-fluid"
              src="https://cdn2.rcstatic.com/images/car_images/new_images/nissan/versa_lrg.jpg"
              alt=""
            />
            <div
              class="car-footer d-flex align-items-center justify-content-between"
            >
              <img
                class="img-fluid ms-3"
                src="https://cdn2.rcstatic.com/images/suppliers/wrp/flat/17_logo_lrg.gif"
                alt=""
              />
              <div>
                <p (click)="toggleDetail()">Car details</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="details">
            <div class="description">
              <div class="pick-up d-flex justify-content-between">
                <div class="pick-up-details">
                  <p class="title">Pick-up</p>
                  <p>10:00 AM Wednesday 07 September, 2022</p>
                  <p class="address">In Terminal: Cairo Airport, Egypt</p>
                </div>
                <div>
                  <i class="pencil-edit-icon"></i>
                  <a href="#">Change dates</a>
                </div>
              </div>
              <div class="drop-off d-flex justify-content-between">
                <div class="drop-off-details">
                  <p class="title">Drop-off</p>
                  <p>10:00 AM Saturday 10 September, 2022</p>
                  <p class="address">Cairo Airport, Egypt</p>
                </div>
              </div>
            </div>
            <div class="extras d-flex justify-content-between">
              <div class="drop d-flex">
                <div class="title">Extras</div>
                <div class="dropdown ms-3">
                  <a class="btn btn-sm rounded-pill button mb-1">
                    1 extra selected
                    <i class="extras-drop-link__arrow"></i>
                  </a>
                  <div class="dropdown-content">
                    <p class="fw-bold pt-2 ps-3">payable today:</p>
                    <p class="ps-3">Full Protection</p>
                  </div>
                </div>
              </div>
              <div>
                <i class="pencil-edit-icon"></i>
                <a href="#">Change</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div class="box-footer-content">
        <div class="list">
          <div class="title fw-bold">Good choice!</div>
          <ul>
            <li class="d-flex align-items-center">
              <i class="list-icon list-icon--fuel"></i>
              <span>Most popular fuel policy</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
